.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    box-shadow: 1px 1px 10px 5px rgb(156, 150, 150);
    /* background-color: red; */
}

.logoDiv{
    width: 10%;
    cursor: pointer;
}

.animalList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

.loginDiv{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 20%;
}