.formContainer {
    text-align: left;
}

.addFormContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftForm {
    width: 50%;
}

.rightCost {
    width: 40%;
}

.eachRow {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}

.circleIcon {
    text-align: right;
}

.tableClass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px 10px;
}

.rowClass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    font-size: 15px;
}

.tableClassTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    padding: 10px 10px;
}